.wrapper{
  display: flex;
}

.side_bar{
  width: 300px;
  height: 100vh;
  background-color: #253141;
}

.chat{
  background-color: #ffffff;
  height: 100vh;
  width: calc(100vw - 300px);
}

.main_chat{
  width: calc(100vw - 300px);
  height: 100vh;
  background-color: #ffffff;
}

.side_bar_header{
  width: 100%;
  height: 100px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.create_room a{
  font-size: 10px;
  color: deepskyblue;
  border: 1px solid lightblue;
  padding: 14px;
  text-decoration: none;
}

.rooms{
  height: calc(100vh - 100px);
  background-color: #2F3E51;
  padding: 0 20px;
  overflow: scroll;
}

.room{
padding: 20px 40px;
}

.room a{
  text-decoration: none;
  color: white;
}

.chat_header{
  height: 100px;
  padding: 0 40px;
}

.messages{
  height: calc(100vh - 100px - 90px);
  background-color: #FAFAFA;
  padding: 46px 40px 0 40px;
}

.form{
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
}